*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1d3557;
}

main{
    max-width: 800px;
    margin: 0 auto;
    /* border: 2px solid red; */
    padding: 5px;
}

.input-section{
    max-width: 800px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1F2937;
}

input[type=color]{
    width: 20%;
    height: 50px;
    border-radius: 6px;
}

select{
    width: 30%;
    height: 42px;
    color: #D1D5DB;
    background: transparent;
    border: 2px solid #D1D5DB;
}

select .opt{
    background: #1F2937;
}


.btn{
    width: 40%;
    height: 42px;
    background: #3D4B60;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    transform: scale(1.1);
}

.render-color-section{
    max-width: 800px;
    /* height: 550px; */
    min-height: 300px;
    height: 70vh;

    display: flex;
    justify-content: space-between;
}

.rendering-color{
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}


footer{
    max-width: 800px;
    height: 90px;
    background: #1F2937;

    display: flex;
}

.ftr-p{
    width: 20%;
    height: 100%;
    border: 1px solid white;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}