*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, rgba(76,97,102,1) 0%, rgba(68,60,104,1) 100%);
    font-family: 'Oswald', sans-serif;
}

@keyframes colors {
	100% { filter: hue-rotate(360deg); }
}

main{
    max-width: 800px;
    margin: 0 auto;
    /* border: 2px solid red; */
    padding: 5px;
    /* border: 1px solid white; */
    box-shadow: 0px 0px 5px lightblue;
}

.input-section{
    max-width: 800px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #18122B;
}

input[type=color]{
    width: 20%;
    height: 55px;
    border-radius: 6px;
}

select{
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 1.2rem;

    width: 30%;
    height: 55px;
    color: #D1D5DB;
    background: #443C68;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

select .opt{
    background: #1F2937;
}


.btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 1.2rem;

    width: 40%;
    height: 55px;
    text-transform: uppercase;
    background-color: #443C68;
    color: #FFFFFF;
    border: none;
    border: 1px solid #EEDDDD;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    transform: scale(1.1);
}

.render-color-section{
    max-width: 800px;
    /* height: 550px; */
    min-height: 300px;
    height: 72vh;

    display: flex;
    justify-content: space-between;
}

.instruction{
    margin: 100px;
    color: #edf2f4;
    letter-spacing: 1px;
}
.instruction span{
    font-weight: 700;
}

.rendering-color{
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}


footer{
    max-width: 800px;
    height: 90px;
    background: #18122B;

    display: flex;
}

.ftr-p{
    width: 20%;
    height: 100%;
    border: 1px solid white;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}